[submodule "bitbake"]
	path = bitbake
	url = git://git.openembedded.org/bitbake
[submodule "layers/openembedded-core"]
	path = layers/openembedded-core
	url = git://git.openembedded.org/openembedded-core
