LCONF_VERSION = "6"
TOPDIR := "${@os.path.dirname(os.path.dirname(d.getVar('FILE', True)))}"
BBPATH = "${TOPDIR}"
BBFILES ?= ""
BBLAYERS = " \
			${TOPDIR}/layers/user-layer \
			${TOPDIR}/layers/meta-mlinux \
			${TOPDIR}/layers/meta-multitech \
			${TOPDIR}/layers/meta-mono \
			${TOPDIR}/layers/meta-nodejs \
			${TOPDIR}/layers/meta-java \
			${TOPDIR}/layers/meta-openembedded/meta-oe \
			${TOPDIR}/layers/meta-openembedded/meta-ruby \
			${TOPDIR}/layers/meta-openembedded/meta-perl \
			${TOPDIR}/layers/meta-openembedded/meta-networking \
			${TOPDIR}/layers/meta-openembedded/meta-webserver \
			${TOPDIR}/layers/meta-openembedded/meta-multimedia \
			${TOPDIR}/layers/meta-openembedded/meta-filesystems \
			${TOPDIR}/layers/meta-openembedded/toolchain-layer \
			${TOPDIR}/layers/openembedded-core/meta \
			"
